<li id="post-<%= i._id %>">
    <% if(locals.user && locals.user.id == i.user.id) { %> 
    <small>
        <a class="delete-post-button" href="/posts/destroy/<%= i.id %>">X</a>
    </small>
    <% } %>
    <p ><%- i.content %></p>
    <p class="name"><%= i.user.name %></p>
    <% if(locals.user){ %>
        <form id ="new-post-form" action="/comment/create" method="Post">
            <input type="text" name="content" placeholder="Type Here To add Comment..." required>
            <input type="hidden" name="post" value='<%= i._id %>'>
            <input type="submit" value="Add Comment">
        </form>
    <% } %>
    Comments:<br>
    <div class="post-comments-list">
        <ul id="post-comments-<%= posts._id %>">
            <% for (comment of i.comment){ %>
                <%- include('_comment'); %>
            <% } %>
        </ul>
    </div>
</li>